*{
    margin:0;
    padding:0;
}
li,ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333333;
    display: block;
}
/* a:hover{
    background-color:#0066ad;
} */

/*common*/
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.container{
    width:1200px;
    margin:0 auto;
}
.ofh{
    overflow: hidden;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.w1200{
    width: 1200px;
}
#hd{
    position: relative;
    z-index:100;
}
#hd > div{
    padding-top:20px;
    position: relative;
}
#gnb > li >a{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height:50px;
    width:150px;
    padding-bottom:30px;
    transform: translateY(17px);
}
#gnb ul{
    overflow: hidden;
    height:0;
    text-align: center;
    transition: height 1s;
    z-index:10;
}
#gnb ul li{
    line-height:50px;
}
#gnb ul li a{
    width:150px;
    background-color: #fff;
}
#gnb ul li:hover a{
    background-color: #30a3f3;
}
#gnb > li:hover ul{
    height:300px;
}
#gnb > li > a:hover{
    background-color: #0066ad;
}
#gnb > li:hover > a{
    background-color: #0066ad;
}
#gnb  ul{
    top:100%;
    left:0;
    right:0;
    line-height: 2.5;
    text-align: center;
    height:0;
    overflow: hidden;
    transition: height 0.5s;
    z-index: 10; /*중요*/
}
#slideBox{
    margin-bottom: 15px;
}
.aniSlide > div{
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity:0;
    transition: 0.4s;
}
.aniSlide > div.on{
    opacity: 1;
    z-index:10;
}
.tab ul{
    display:none;
    width:calc(400px - 20px);
}
.on ul{
    display:flex;
}
#gallery img{
    width:calc(100% - 15px);
    margin:auto;
    display:block;
}
#gallery ul{
    margin-left: -100%;
}
.tab h3{
    font-size: 2em;
}
.tab > div{
    width:50%;
}
#banners > div{
    width:33.333%;
}
#banners > div:not(.tab) img{
    width:calc(100% - 30px);
    margin:auto;
    display:block;
}
#notice li{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#notice ul{
    flex-direction: column;
}